.side-bar {
    border-bottom: 2px solid $primary;
    margin-bottom: 54px;

    @include above( md ) {
        border-bottom: none;
    }
}

.author-name {
    padding-left: 5px;
}

.blog-post-title {
    max-width: 840px;
    font-size: 48px;

    @include above( 600px ) {
        font-size: 3.6rem;
    }
}

.blog-intro-text-wrapper {
    max-width: 702px;
    margin-left: 30px;
    margin-right: 30px;

    @include above( sm ) {
        margin-left: 0;
        margin-right: 0;
    }
}

.blog-intro-text {
    width: 100%;
    margin-bottom: 28px;

    @include above( md ) {
        min-width: 372px;
    }

    @include above( lg ) {
        // width: 46%;
        min-width: auto;
        margin-bottom: 0;
    }

    &.blog-intro-heading {
        font-size: 30px;
        margin-bottom: 28px;
        color: $white;

        @include above( sm ) {
            font-size: 33px;
        }

        @include above( 550px ) {
            font-size: 36px;
        }
    }

    &.blog-intro-paragraph {
        margin-bottom: 26px;
    }
}

#intro-section-image {
    margin-bottom: 58px;
}

.blog-articles-section {
    padding-top: 60px;

    @include above( sm ) {
        padding-top: 96px;
    };

    @include above( md ) {
        padding-top: 128px;
    }
}

.blog-intro-title {
    font-size: 48px;

    @include above( lg ) {
        font-size: 64px;
    };
};

.blog-intro-date {
    margin-top: 43px;
}