/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Accent Lines
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.accent-lines-image-frame-simple {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid $background;
  border-left: 1px solid $background;
}

