/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: WIDTH
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/


/* ===== MAX WIDTHS ===== */

/* dynamic */
.mxw-text {
  max-width: $text_max;
}

.mxw-content {
  max-width: $content_max;
}

.mxw-site {
  max-width: $site_max;
}


/* ===== FORCE FULL ===== */

// this one must be inside a centered container
.force-full {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: unset;
}