{{ partial src="banners/_banner" }}

<!-- START about_intro_section -->
<section class="">


	<div class="flex flex-col md:flex-row trim outer">

		<div class="intro-left l-35">
			<div class="intro-left__copy">
				<h1 class="text-white intro-section-heading">{{ intro_section_heading }}</h1>
				
				<p class="heading-color-alt font-semibold">{{ intro_section_subheading }}</p>
				
				<!-- <img class="summary-image" src="{{ glide:summary_image }}" alt="image"> -->
	
				<div class="ghost-img-container">
					<!-- <div class="ghost-img-width"></div> -->
					
					<img class="ghost-image" src="{{ glide:summary_image }}" alt="image">
				</div>
			</div>
	
		</div>

		<!-- <div class="intro-right-side" style="border: 2px solid darkgreen;"> -->
			<div class="intro-right l-65">
				<div class="intro-right__copy">
				
					<img class="md:w-full intro-section-image" src="{{ glide:intro_section_image }}" alt="image">
					
					<div class="flex flex-col lg:flex-row justify-between intro-text-wrapper">
						
						<p class="intro-text">{{ intro_text_column_one }}</p>
		
						<p class="intro-text">{{ intro_text_column_two  }}</p>
		
					</div>

				</div>
	
			</div>
		<!-- </div> -->

	</div>

</section>
<!-- END about_intro_section -->

        
<!-- START about_summary_section -->
<section class="flex flex-col md:flex-row -mt-32 summary-area outer">

	<div class="summary-left flex flex-col lg:items-end bg-background l-35">
		<div class="summary-left__image">

			<div class="summary-image-wrapper">
				<img class="summary-image" src="{{ glide:summary_image }}" alt="image">
			</div>
			
		</div>

	</div>

	<div class="summary-right flex flex-col items-start summary-right bg-contrast gutter l-65">
		<div class="summary-right__copy">

			<h1 class="text-white summary-heading">{{ summary_heading }}</h1>
			
			<div class="pt-12 summary-paragraph">{{ summary_paragraph  }}</div>

			<a href="{{ cta_link }}" class="btn btn-w1 mt-10">

				<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M23 8L0.499999 15.7942L0.5 0.20577L23 8Z" fill="#11213E"/>
				</svg>

				<span class="btn__text">{{ cta_button_text }}</span>

			</a>
		</div>
	</div>

</section>

<section class="w-full bg-contrast summary-spacer"></section>
<!-- END about_summary_section -->


<!-- START services section -->
<section class="services-section">

	<div class="outer h-full flex">
		<div class="services-left-half">
			<div class="medium-762 w-full h-full mb-0 md:mt-0 flex flex-col justify-center service-cards-wrapper">
	
				{{ collection:service_cards }}
	
				<div class="bg-contrast flex justify-end service-card z-20">
					
					<div class="flex service-card-contents">
						<h3 class="h3-2 text-white service-title">{{ title }}</h3>
						
						<div class="vertical-line"></div>
						<div class="horizontal-line"></div>
		
						<p class="service-description">{{ description }}</p>
					</div>
	
				</div>
	
				{{ /collection:service_cards }}	
	

			</div>
	
		</div>
		<div class="services-right-half">
			<img class="services-image" src="{{ glide:services_image }}" alt="image">
		</div>
	</div>
 
	<div class="services-left-background bg-border">

		<div class="patterns">
			<svg width="100%" style="height: 100%;">
				<defs>
					<pattern id="pattern" x="0" y="0" width="400px" height="400px" patternUnits="userSpaceOnUse">
						<path fill="#11213E" d="M400,201.3v-2.5l-97.4-33.8l30.9-30.9H400v-2h-64.5l64.3-64.3h0.2v-0.2v-1.8v-1l-1,1h-65V0.7l0.7-0.7H334h-2
			h-0.2L267,64.8V0h-2v66.8L234.9,97L201.2,0h-2.5L165,96.8l-31-31V0h-2v63.8L68.2,0H68h-2h-0.7L66,0.7v65.1H2V0H0v64.7v1v1.8v0.2V132
			v2v64.8v2.5V266v2v63.8v0.9v1.9v0.1V398v2h2h62.7H66h1.5H68h64h2h64.7h2.5H265h2h65h0.5h1.5h1.3H400v-2h-66v-63.3h66v-0.1v-1.9v-0.9
			L336.2,268H400v-2h-65.8l-31.1-31.1L400,201.3z M397.5,200l-96,33.3l-33.7-33.7l33.2-33.2L397.5,200z M267,331.7V268h65v64.7h-64
			L267,331.7z M265,329.7L203.3,268H265V329.7z M132,332.7H68V268h64L132,332.7L132,332.7z M130,334.7l-62,62v-62H130z M99,166.5
			l33,33v0.3l-33.5,33.5L2.5,200L99,166.5z M132,134v62.7L69.3,134H132z M68,132V67.7h64V132H68z M135,199.7l65-65l65,65v0.1l-65,65
			L135,199.7z M198.5,266H134v-64.5L198.5,266z M202.2,134H265v62.8L202.2,134z M134,197.8V134h63.8L134,197.8z M132,202.7V266H68.7
			L132,202.7z M66,332.7H2v-0.1l64-64V332.7z M134,268h62.7L134,330.7V268z M199.5,268h0.9l33,33L200,397.5l-33.5-96.5L199.5,268z
			 M201.5,266l63.5-63.5V266H201.5z M267,197.7V134h63.7L267,197.7z M267,132V67.7h65V132H267z M397,67.7l-63,63v-63H397z M332,2.7
			v63.1h-63.1L332,2.7z M265,132h-62.3L265,69.7V132z M199.9,2.5l33.4,96.1L200,131.8l-33.4-33.4L199.9,2.5z M197.3,132H134V68.7
			L197.3,132z M68,2.7l63.1,63.1H68V2.7z M66,130.7l-63-63h63V130.7z M2,69.5L64.5,132H2V69.5z M2,134h64.5l30.9,30.9L2,198.1V134z
			 M2,202l94.9,33L65.8,266H2V202z M2,268h61.8L2,329.8V268z M2,398v-63.3h64V398H2z M69.5,398l62.5-62.5V398H69.5z M134,398v-64.5
			l30.9-30.9L198,398H134z M201.9,398l33.1-95.4l29.9,29.9V398H201.9z M267,334.7h0.2l63.3,63.3H267V334.7z M332,396.7l-62-62h62
							 V396.7z M334,332.7v-64.1l64.1,64.1H334z M267,266v-64.3l64.3,64.3H267z"/>
					</pattern>
				</defs>
		
				<rect x="0" y="0" width="100%" height="100%" fill="url(#pattern)" />
			</svg>
		</div>

	</div>



</section>	
<!-- END services section -->

        
<!-- START case_study -->
<section class="trim">

    <div class="flex outer">

		<div class="gutter">

			<section class="case-study flex">

				<div class="case-study-image-wrapper w-auto h-auto">
					<div class="image-gradient"></div>

					<img src="{{ glide:case_study_image }}" alt="image" class="case-study-image">

					<div class="case-study-logo"></div>

					<p class="case-study-image-subheading text-white">{{ image_subheading }}</p>

				</div>
					
				<div class="flex bg-contrast case-study-content">

					<div class="flex flex-col case-study-left">
		
						<p class="heading-color-alt font-semibold">{{ case_study_card_label }}</p>
		
						<h3 class="f-30 case-study-title text-white">{{ case_study_title }}</h3>
		
					</div>
		
					<div class="flex flex-col case-study-right">
		
						<p>{{ case_study_description }}</p>
		
						<a href="{{ see_more_link }}" class="chevron-link animated-link">
			
							<p class="heading-color-alt case-study-link">See more</p>

							<span class="">
								&nbsp;
								{{ theme:output src="svg/chevron-right.svg" }}
							</span>

						</a>
		
					</div>
		
				</div>

			</section>
			
		</div>

	</div>

</section>
<!-- END case_study -->
    
<!-- START articles_section -->
<section class="trim">

	<div class="outer">
		
		<section class="flex flex-col lg:flex-row gutter">

			<div class="article-left w-full lg:w-1/5 flex">
	
				<p class="heading-color-alt font-semibold">{{ article_section_heading }}</p>
	
			</div>

			<div class="article-right lg:w-4/5 xl:w-4/5 lg:pr-20">

				<div class="flex flex-1 flex-wrap justify-between article-card-container">
	
					{{ collection:blog featured_article:is="true"}}
							<a href="{{ url }}" class="article-card bg-contrast pt-8 pb-16 display-four">
			
								<h5 class="text-white">{{ title }}</h5>
				
								<p class="mt-4"> {{ post_description }}</p>
				
							</a>
					{{ /collection:blog}}	
	
				</div>

				<a href="{{ articles_link }}" class="btn articles-btn mt-10">
					
					<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23 8L0.499999 15.7942L0.5 0.20577L23 8Z" fill="#11213E"/>
					</svg>
						
					<span class="btn__text">{{ articles_text }}</span>
				</a>
				
			</div>	

		</section>
		
	</div>
</section>
<!-- END articles_section -->