{{ partial src="banners/_banner" }}


<section class="trim">


<!-- START about_intro_section -->
<div class="outer">
	<div class="flex flex-col md:flex-row">

        <div class="intro-left flex flex-col l-35">

            <h1 class="text-white intro-div-heading blog-intro-title">{{ intro_heading }}</h1>
            {{ featured_article }}
            <p class="heading-color-alt font-semibold blog-intro-date">{{ published_date format="F j, Y" }}</p>
            {{ /featured_article }}
            <!-- <img class="summary-image" src="{{ glide:summary_image }}" alt="image"> -->

            <div class="ghost-img-container">
                <!-- <div class="ghost-img-width"></div> -->
                
                <!-- <img class="ghost-image" src="{{ glide:summary_image }}" alt="image"> -->
            </div>
    
        </div>

        <!-- <div class="intro-right-side" style="border: 2px solid darkgreen;"> -->
            <div class="intro-right flex flex-col items-start pb-0 l-65">
                
                <img class="" id="intro-section-image" src="{{ glide:intro_image }}" alt="image">
                
                <div class="flex flex-col justify-center blog-intro-text-wrapper">
                    
                    {{ featured_article }}

                        <h1 class="blog-intro-text blog-intro-heading">{{ title }}</h1>
        
                        <p class="blog-intro-text blog-intro-paragraph">{{ post_description }}</p>

                    <a href="{{ url }}" class="btn btn-w1 mt-10">
    
                    {{ /featured_article }}
                    
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23 8L0.499999 15.7942L0.5 0.20577L23 8Z" fill="#11213E"/>
                        </svg>
                        
                        <span class="btn__text">{{ text }}</span>
        
                    </a>

                </div>
    
            </div>
        <!-- </div> -->
    
    </div>
</div>
<!-- <section class="">

    <div class="wrapper mb-56">

		<section class="flex flex-col lg:flex-row">

			<div class="intro-left flex flex-col pt-0">
	
				<h1 class="mb-44 text-white intro-section-heading">{{ intro_heading }}</h1>
                
				<p class="heading-color-alt font-semibold">date here</p>
	
			</div>
	
			<div class="intro-right flex flex-col items-center">
                
                <img class="mb-53" id="intro-section-image" src="{{ glide:intro_image }}" alt="image">
                
                <div class="flex flex-col justify-center intro-text-wrapper">
                    
                    <h1 class="intro-text">{{ intro_inner_heading }}</h1>

                    <p class="intro-text">{{ intro_inner_paragraph  }}</p>

                    <a href="{{ link }}" class="btn btn-w1 mt-10">
        
                        <span class="btn__text meta-fix">{{ text }}</span>
        
                    </a>

                </div>

			</div>

		</section>

	</div>

</section> -->
<!-- END about_intro_section -->


{{ get_content from="/"}}
<!-- START articles_section -->
<section class="trim">
	<div class="outer">
        <section class="flex flex-col lg:flex-row gutter blog-articles-section">

            <div class="article-left w-full lg:w-1/5 flex">

                <p class="heading-color-alt font-semibold">{{ article_section_heading }}</p>

            </div>

            <div class="article-right lg:w-4/5 xl:w-4/5">

                <div class="flex flex-1 flex-wrap justify-between article-card-container">
            
                    {{ collection:blog featured_article:is="true"}}
            
                        <a href="{{ url }}" class="article-card blog-article-card bg-contrast pt-8 pb-16 display-more">
            
                            <h5 class="text-white">{{ title }}</h5>
            
                            <p class="mt-4"> {{ post_description }}</p>
            
                        </a>
            
                    {{ /collection:blog}}		

                </div>
        <!-- 
                <a href="{{ articles_link }}" class="btn articles-btn mt-10">
                            
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 8L0.499999 15.7942L0.5 0.20577L23 8Z" fill="#11213E"/>
                    </svg>

                    <span class="btn__text">{{ articles_text }}</span>

                </a> -->
                
            </div>	

        </section>
    </div>
</section>
<!-- END articles_section -->
{{ /get_content }}